{% extends 'main.html' %}

{% load customfilter %}  

{% block content %}
    <h1>Welcome to Django Training</h1>
    <p>This is the home page of the Django Training project.</p>

    <div>
        {% for room in rooms %}
            <div>
                <h3>{{ room.id }} .  <a href="{% url 'room' room.id %}">{{ room.name }}</a></h3>
                
                <div>
                    <p>{{ room.status }}</p>
                    {% for booking in room_bookings|get_item:room.id %}
                        <p>{{ booking.guest_name }} ({{ booking.start_date }} - {{ booking.end_date }})</p>
                    {% empty %}
                        <p>No bookings yet.</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
